lc-quad-2-wikidata/
*.vec
__pycache__/
*.json
*.csv
*.png
*.zip
.idea/
venv/
.DS_store
checkpoints*/
data*/
lib/*.class
lib/stanford-parser
lib/stanford-tagger
.ftpconfig
.ftpignore
.vscode/
.ipynb_checkpoints/
analysis*/
final_results/
.word_vectors_cache
